{% extends "cashflow/base.html" %}

{% block content %}

<h2>Создать запись</h2>

<form method="post">

    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="mb-3">
        {{ form.created_at.label_tag }}
        {{ form.created_at }}
        {{ form.created_at.errors }}
    </div>

    <div class="mb-3">
        {{ form.status.label_tag }}
        {{ form.status }}
        {{ form.status.errors }}
    </div>

    <div class="mb-3">
        {{ form.operation_type.label_tag }}
        {{ form.operation_type }}
        {{ form.operation_type.errors }}
    </div>

    <div class="mb-3">
        {{ form.category.label_tag }}
        {{ form.category }}
        {{ form.category.errors }}
    </div>

    <div class="mb-3">
        {{ form.subcategory.label_tag }}
        {{ form.subcategory }}
        {{ form.subcategory.errors }}
    </div>

    <div class="mb-3">
        {{ form.amount.label_tag }}
        {{ form.amount }}
        {{ form.amount.errors }}
    </div>

    <div class="mb-3">
        {{ form.comment.label_tag }}
        {{ form.comment }}
        {{ form.comment.errors }}
    </div>

    <button type="submit" class="btn btn-success">
        Сохранить
    </button>

    <a href="{% url 'cashflow_list' %}" class="btn btn-secondary">
        Назад
    </a>

</form>

{% endblock %}


{% block scripts %}

<script>
const typeSelect = document.getElementById("id_operation_type");
const categorySelect = document.getElementById("id_category");
const subcategorySelect = document.getElementById("id_subcategory");

typeSelect.addEventListener("change", function () {

    fetch(`/ajax/load-categories/?operation_type=${this.value}`)
        .then(response => response.json())
        .then(data => {

            categorySelect.innerHTML = '<option value="">---------</option>';

            data.forEach(category => {
                categorySelect.innerHTML += `
                    <option value="${category.id}">
                        ${category.name}
                    </option>`;
            });

            subcategorySelect.innerHTML = '<option value="">---------</option>';
        });

});

categorySelect.addEventListener("change", function () {

    fetch(`/ajax/load-subcategories/?category=${this.value}`)
        .then(response => response.json())
        .then(data => {

            subcategorySelect.innerHTML = '<option value="">---------</option>';

            data.forEach(subcategory => {
                subcategorySelect.innerHTML += `
                    <option value="${subcategory.id}">
                        ${subcategory.name}
                    </option>`;
            });

        });

});
</script>

{% endblock %}
